#sideChoicesBox{
    width: 30%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#choiceList{
    position: relative;
    right: 30%;
    background-color: #7effb4;
    height: 100%;
    width: 100%;
}
.choiceListItem{
    width: 100%;
}

#showWindow{
    background-color: coral;
    width: 70%;
    height: 100%;
}
.liBox{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#mainContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.projectsBox{
    position: relative;
    right: 10%;
}

.windowItemBox{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    margin-bottom: 1%;
}
.windowItemHeader{
width: 40%;
}
.windowItem{
    width: 30%;
}