nav{

background-color: #6C5A49;
height: 5%;
}
.projectsButton{
    font-size: 22px;

}

.dropdown-menu{


}
.projectForm{
    display:flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
}
.dropdown-item{
margin-bottom: 2%;
}

.navbarItemsBox{
    position: relative;
    right: 10%;
    top: 15%;
    display: flex;
    flex-direction: row;


}

#hiddenButton{
    display: none;
}
#hiddenProjectButton{
    display: none;
}