<main id="main">
    <div id="topBox">
        <div id="infoBox">
            <div id="projectHeaderText">
                <h4>Project name</h4>
            </div>
            <div id="descriptionText">
                <div id="descriptionTextHeader">
                    <h4>Description</h4>
                </div>

               <div>

                   dfsdgdsgsd sdgdsg sdgsdgsdg sdgsdgsd gsdgsdg sdgdsgsd dsggsddsgsd
                   sggddsgsdgsdgds gsdgsd
               </div>
            </div>
        </div>
        <aside id="projectPictureBox">
            <img id="projectPicture" src="../pictures/project1.jpg">
        </aside>
    </div>
    <div id="lowerBox">
        <div id="tempBox">
            temp
        </div>
        <div id="tempBox2">
            <aside id="temp2">temp</aside>
            <aside id="linkBox">
                <a href="#" class="link-primary">Primary link</a>
                <a href="#" class="link-primary">Secondary link</a>
            </aside>
        </div>


    </div>
</main>