<main id="main">
    <div id="topBox">
        <div id="infoBox">
            <div id="headerText">
                <h4>Project name</h4>
            </div>
            <div id="descriptionText">
                <div id="descriptionTextHeader">
                    <h4>Description</h4>
                </div>

               <div>

                   dfsdgdsgsd sdgdsg sdgsdgsdg sdgsdgsd gsdgsdg sdgdsgsd dsggsddsgsd
                   sggddsgsdgsdgds gsdgsd
               </div>
            </div>
        </div>
        <aside id="projectPictureBox">
            <img id="projectPicture" src="../pictures/project1.jpg">
        </aside>
    </div>
    <div id="loweBox">

    </div>
</main>