
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">
        <div class="dropdown show dropdownButton">
            <a class="btn btn-secondary dropdown-toggle projectsButton" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My Projects
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <form action="/MainPage/getMainPage" class="projectForm" id="navDropdown">


      </form>

  </div>
</div>
        <!-- when clicked needs to make an api call with the value to a get the value from database and return it in a cookie-->

    </span>

</nav>
