<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Css/pages/HomePage.css">
    <link rel="stylesheet" href="../Css/fragments/PageWrapper.css">
    <link rel="stylesheet" href="../Css/fragments/Main.css">
    <link rel="stylesheet" href="../Css/fragments/Navbar.css">
    <link rel="stylesheet" href="../Css/fragments/Header.css">
    <link rel="stylesheet" href="../Css/fragments/Footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<script>
    //used to get pagename if gotten
    let pageDataJsonString = "[[${pageData}]]";
    let navbarDataJsonString = "[[${navData}]]";
    let linksDataJsonString = "[[${links}]]";
</script>


    <div class="container pageWrapper">

        <header th:replace="pageFragments/Header"></header>
        <nav th:replace="pageFragments/Navbar"></nav>
        <main id="main" th:replace="pageFragments/Main"> <!-- need to make a replace like above but make javascript get a variable from cookies and check it and get from database the value associated with it -->
        </main>

        <footer th:replace="pageFragments/Footer"></footer>


    </div>

<script src="../Js/fragments/SmallOperations.js"></script>
<script src="../Js/fragments/Navbar.js"></script>
<script src="../Js/fragments/Main.js"></script>
<script src="../Js/pages/Homepage.js"></script>
</body>
</html>