nav{

background-color: brown;
height: 5%;
}
.projectsButton{
    font-size: 22px;

}
.dropdownButton{
top: -50%;
    left: -10%;
}
.dropdown-menu{


}
.projectForm{
    display:flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
}
.dropdown-item{
margin-bottom: 2%;
}

.navbarItems{

    display: flex;
    flex-direction: row;


}
#hiddenButton{
    display: none;
}
#hiddenProjectButton{
    display: none;
}